/* Reset */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Common */
body {
    font-family: 'Roboto', sans-serif;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}
.container {
    margin: 0 auto;
}
.box {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.05);
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 15px 0px;
}
.square {
    height: 100px;
    width: 100px;
}
section {
    margin: 50px 0px;
}
/* Header */
header {
    margin: 50px 0px;
}
.title-header {
    text-align: center;
}
/* Exercise 1 */
.exercise-1 .square {
    border: 1px solid red;
    transition: 2s;
}
.exercise-1 .square:hover {
    background-color: red;
}
